/*
Theme Name: Raad van Kerken Delft
Theme URI: 
Description: A Wordpress theme with a header image of various silhouettes of business men celebrating in achievements
Version: 2.21
Author: LeadCamp, Inc
Author URI: http://www.leadcamp.com/content/free-wordpress-themes/
Tags: three column, left right sidebar, 948px, business, joy, celebration, happiness, relief, silhouette, success, reward, goal, achievement, reports
*/

/* begin Page */

/* Generated with http://www.leadcamp.com/content/free-wordpress-themes/ version 2.0.2.15338 */

/* Import Fonts
------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/* Defaults
------------------------------------------------------------ */



body
{
	margin: 0 auto;
	padding: 0;
	background: url(images/RVKNACHT_Kleur_anders2.jpg) no-repeat fixed center center;
}
html {
	overflow: scroll;
}

.Main
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;

}

.MEGPageBackgroundGlare
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.MEGPageBackgroundGlareImage
{
	background-image: url(images/Page-BgGlare.png);
	background-repeat: no-repeat;
	height: 275px;
	width: 883px;
	margin: 0 auto;
}

html:first-child .PageBackgroundGlare
{
  border: 1px solid transparent; /* Opera fix */
}

.PageBackgroundSimpleGradient
{
  background-image: url('images/Page-BgSimpleGradient.jpg');
  background-repeat: repeat-x;
  height: 1px;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


/* end Page */

/* begin Box, Sheet */
.Sheet
{
  overflow: hidden;
  min-width:23px;
  min-height:23px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 948px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 8px;
}

.Sheet-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  background-image: url(images/Ms.png);
}

.Sheet-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 11px;
  height: 11px;
}

.Sheet-tr div
{
	position: absolute;
	z-index: -1;
	top: 0px;
	left: -11px;
	width: 22px;
	height: 22px;
	background-image: url(images/Ms.png);
}

.Sheet-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 11px;
  height: 11px;
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(images/Ms.png);
}

.Sheet-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 11px;
}

.Sheet-br div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  background-image: url(images/Ms.png);
}

.Sheet-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 11px;
  right: 11px;
  height: 11px;
}

.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url(images/M1.png);
}

.Sheet-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 11px;
  right: 11px;
  height: 11px;
}

.Sheet-bc div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url(images/M1.png);
}

.Sheet-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 11px;
  left: 0;
  width: 11px;
  bottom: 11px;
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 22px;
  height: 100%;
  background-image: url(images/M1.png);
}

.Sheet-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 11px;
  right: 0;
  width: 11px;
  bottom: 11px;
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -11px;
  width: 22px;
  height: 100%;
  background-image: url(images/M1.png);
}

.Sheet-cc
{
	position: absolute;
	overflow:hidden;
	z-index: -2;
	top: 11px;
	left: 11px;
	right: 11px;
	bottom: 11px;
	background-image: url(images/M1.png);
}

.Sheet
{
  margin-top: 20px !important;
}
/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


/* menu structure */

.nav
{
  position: relative;
  margin: 0  auto;
  width: 932px;
  height: 34px;
  z-index: 100;
}

.artmenu
{
  padding: 8px 4px 0px 4px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 34px;
}

.nav .l
{
  left: 0;
  right: 3px;
}


.nav .r
{
  right: 0;
  width: 3px;
}


.nav .r div
{
  width: 932px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/nav.png');
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 26px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  margin-left: 3px;

}

.artmenu a
{
  background-image: url('images/item-left.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.artmenu a span
{
  background-image: url('images/item-right.png');
  background-position: right top;
  background-repeat: no-repeat;
}
.artmenu a span span
{
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0B0B04;
	padding: 0 7px;
	margin: 0 4px;
	line-height: 26px;
	text-align: center;
	background-image: url('images/item-center.png');
	background-position: left top;
	background-repeat: repeat-x;
}

.artmenu a:hover
{
  background-position: left -26px;
}

.artmenu li:hover>a
{
  background-position: left -26px;
}
.artmenu li:hover a span
{
  background-position: right -26px;
}

.artmenu a:hover span
{
  background-position: right -26px;
}


.artmenu a:hover span span
{
  color: #000000;
  background-position: left -26px;
}

.artmenu li:hover a span span
{
  color: #000000;
  background-position: left -26px;
}


/* end MenuItem */

/* begin MenuSubItem */
.artmenu ul a
{
  display:block;
  text-align: center;
  white-space: nowrap;
  height: 28px;
  width: 222px;
  overflow:hidden;
  line-height: 28px;
  margin-right: auto;


  background-image: url('images/subitem-bg.png');
  background-position: left top;
  background-repeat: repeat-x;

  border-width: 1px;
  border-style: solid;
  border-color: #CCCC99;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 28px;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.artmenu ul ul a
{
  margin-left: auto;
}

.artmenu ul li a:hover
{
  color: #000000;
  border-color: #D8D8B1;
  background-position: 0 -28px;
}

.artmenu ul li:hover>a
{
  color: #000000;
  border-color: #D8D8B1;
  background-position: 0 -28px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
  color: #000000;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin Header */
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 932px;
  height: 225px;
}



div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 932px;
	height: 225px;
	background-image: url('images/Header_01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 5px solid #960;
}
/* end Header */

/* begin Logo */
.logo
{
  display : block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 921px;
}

h1.logo-name
{
	display: none;
	text-align: center;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding:0;
  margin:0;
  color: #6A470B !important;
}

.logo-text
{
  display: block;
  text-align: center;
}

.logo-text, .logo-text a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding:0;
  margin:0;
  color: #6A470B !important;
}

/* end Logo */

/* begin ContentLayout */
.contentLayout
{
  margin-bottom: 0px;
  width: 932px;
  position: relative;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	overflow: hidden;
	min-width:1px;
	min-height:1px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}


.Block-body
{
	position: relative;
	z-index: 0;
	margin: 0px;
}


/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position: relative;
	overflow: hidden;
	height: 30px;
	z-index: 0;
	line-height: 30px;
	padding: 0 0px 0 6px;
	margin-bottom: 0px;
	width: 256px;
}

.BlockHeader-text
{
	white-space : nowrap;
	color: #039;
	font-family: "Yanone Kaffeesatz", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 1px;
}


.BlockHeader .r
{
  right: 0;
  width: 1px;
}


.BlockHeader .r div
{
  width: 946px;
  right: 0;
}


.BlockHeader .l, .BlockHeader .r div
{
	mbackground-position: left top;
	mbackground-repeat: repeat-x;
	mbackground-image: url(images/BlockHeader_02.png);
}



.header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url(images/BlockHeaderIconMEG.png);
	padding:0 0 0 0px;
	background-repeat: no-repeat;
	min-height: 15px;
	margin: 0 0 0 5px;
}




/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	overflow: hidden;
	min-width:3px;
	min-height:3px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}


.BlockContent-body
{
	position: relative;
	z-index: 0;
	margin: 0px 8px 8px;
}

.BlockContent-tl
{
	position: absolute;
	overflow: hidden;
	z-index: -1;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	background-image: url('images/BlockContent-sMEG.png');
}

.BlockContent-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
}

.BlockContent-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -1px;
  width: 2px;
  height: 2px;
  background-image: url('images/BlockContent-sMEG.png');
}

.BlockContent-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.BlockContent-bl div
{
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 0;
  width: 2px;
  height: 2px;
  background-image: url('images/BlockContent-sMEG.png');
}

.BlockContent-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 1px;
}

.BlockContent-br div
{
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  width: 2px;
  height: 2px;
  background-image: url('images/BlockContent-sMEG.png');
}

.BlockContent-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 1px;
  right: 1px;
  height: 1px;
}

.BlockContent-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url('images/BlockContent-hMEG.png');
}

.BlockContent-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 1px;
  right: 1px;
  height: 1px;
}

.BlockContent-bc div
{
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url('images/BlockContent-hMEG.png');
}

.BlockContent-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 1px;
  left: 0;
  width: 1px;
  bottom: 1px;
}

.BlockContent-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-image: url('images/BlockContent-vMEG.png');
}

.BlockContent-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 1px;
  right: 0;
  width: 1px;
  bottom: 1px;
}

.BlockContent-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -1px;
  width: 2px;
  height: 100%;
  background-image: url('images/BlockContent-vMEG.png');
}

.BlockContent-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-image: url('images/BlockContent-cMEG.png');
}


.BlockContent-body
{
	color:#039;
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
}

.BlockContent-body a:link
{
	color: #039;
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #039;
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #900;
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}


.BlockContent-body ul
{
	list-style-type: none;
	color: #6a6725;
	margin:0 0 0 20px;
	padding:0;
}

.BlockContent-body li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 0px;
	mmargin:0.5em 0;
	line-height:1em;
	list-style: url(images/Bullet_geel.jpg);
	mtext-indent: 5px;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
	position: relative;
	z-index: 0;
	margin: 10px 0px 0px;
}


.Post
{
	margin: 5px 2px 2px 40px;
}


/* Start images */
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 1px;
  border-color: #D1CE7B;
  margin: 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
	background-color:Tranparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #B2B266;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



/* Finish tables */
/* end Box, Post */

/* begin PostMetadata */

.PostMetadataHeader
{
	padding:3px;
	border: 1px none #D1CE7B;
}




/* end PostMetadata */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #06C;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #900;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	text-align: left;
	color: #039;
	font-size: 24px;
}

.PostHeader a:visited, .PostHeader a.visited
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	text-align: left;
	color: #039;
}

.PostHeader a:hover, .PostHeader a.hovered
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	text-align: left;
	color: #;
	color: #900;
}
/* end PostHeader */

/* begin PostIcons */
.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #36361B;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  margin:0;
}

.PostHeaderIcons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #716F28;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #716F28;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #26250D;
}


/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #353413;
}

.PostContent
{
	font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #353413;
	line-height: 140%;
}

/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #8F600F;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #8F600F;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #000000;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #C28214;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #009;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #009;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #009;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #353413;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #353413;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #353413;
}
/* Finish Content headings Fonts & Colors  */

/* end PostContent */

/* begin PostBullets */
/* Start Content list */

ul
{
  list-style-type: none;
  color: #1A1A09;
  margin:0;
  padding:0;
}

li
{
  font-family: "Open Sans", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}



.Post ul li
{
	padding:0px 0 0px 18px;
	background-image: url(images/PostBullets_2.png);
	background-repeat:no-repeat;
	font-size: 14px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */

blockquote p
{
  color:#1C1303;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

blockquote
{
  border-color:#D8D8B1;
  border-width: 1px;
  border-style: solid;

  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 28px;

  background-color:#EEEDCE;

  background-image:url('images/PostQuote.png');
  background-position:left top;
  background-repeat:no-repeat;
}



/* Finish blockuote */
/* end PostQuote */

/* begin PostIcons */
.PostFooterIcons, .PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	text-decoration: none;
	color: #474724;
}

.PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
  margin:0;
}

.PostFooterIcons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #757229;
}

.PostFooterIcons a:visited, .PostFooterIcons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #757229;
}

.PostFooterIcons a:hover, .PostFooterIcons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #26250D;
}

.PostFooterIcons{
	padding-bottom: 5px;
}

/* end PostIcons */

/* begin Button */
button.Button, a.Button
{
	position:relative;
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:26px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
}


/*This HACK needed for ie7 (button position)*/
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
	position: relative;
	overflow: hidden;
	display: block;
	width: auto;
	z-index: 0;
	height: 26px;
	color: #53511D;
	white-space: nowrap;
	float: left;
}

.Button .t
{
  height:26px;
  white-space: normal;
  padding: 0 9px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 26px;
  text-decoration: none !important;
}

input, select
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.Button .active
{
  color: #F1F1E4;
}

.Button .hover,  a.Button:hover
{
  color: #000000;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -52px;
}

.Button .hover .r
{
  top: -26px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 8px;
  height: 78px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:409px;
  height: 78px;
}


.Button .active .l
{
  top: -52px;
}

.Button .hover .l
{
  top: -26px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 8px;
  height: 78px;
}


.Button .l, .Button .r span
{
	background-image: url('images/Button.png');
}

/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 932px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 8px;
  text-align: center;
}

.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-image: url(images/Footer_02.png);
	width: 932px;
	height: 100px;
	bottom:0;
	left:0;
	background-position: left bottom;
	background-repeat: repeat-x;
}



.rss-tag-icon
{
  position: relative;
  display:block;
  float:left;
  background-image: url('images/rssIcon.png');
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 27px;
  width: 26px;
}




.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#353413;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #696935;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #26250D;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#979435;
	display: none;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#C1BD4E;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 204px;
	display: none;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 600px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar2
{
	position: relative;
	margin: 0 0 0 30;
	padding: 0;
	border: 0;
	float: right;
	overflow: hidden;
	width: 270px;
	top: 10px;
	right: 12px;
}

/* end LayoutCell */



.commentlist, .commentlist li
{
    background: none;
}

.commentlist li li
{
    margin-left:30px;
}

.commentlist li .avatar
{
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  margin:1px;
  background: #fff;
}

.commentlist li cite
{
  font-size:1.2em;
}

#commentform textarea
{
  width: 100%;
}

img.wp-smiley
{
    border:none;
    margin:0;
    padding:0;
}

.navigation
{
	display: block;
	text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.alignright img, img.alignright
{
	margin: 0em 0 1em 1em;
	padding: 8px;
	border: 1px solid #999;
}

.alignleft img, img.alignleft
{
	margin: 0em 1em 1em 0;
	padding: 3px;
	border: 1px solid #999;
}

.wp-caption
{
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* End */


.hidden
{
	display: none;
}

/* Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	text-align: center;
	width: 100%;
}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}
.widget-area {
	float: left;
	margin-right: 20px;
	width:  204px;

}
#fourth {
	margin-right: 0px;
	left: 0px;
	width: 270px;
	margin-left: -10px;
}
#footer-widget-area {
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 20px;
}

#first, #nsecond, #nthird, #nfourth {
	position: relative;
	width: 210px;
	height: auto;
}
#first {
	margin-left: 28px;
}
#second {
	width: 240px;
	margin-left: -30px;
}

#third {
	margin-left: -50px;
	left: 0px;
	top: 0px;
}


#footernav {
	background: url(images/FooterInner_02.png);
	margin-top: 30px;
	border-top: 5px solid #960;
	overflow: hidden;
}

#footer-widget-area{
	background: url(images/FooterInner.png) repeat-x bottom;
	overflow: hidden;
}
.sidebar2 .rvk ul li {
	list-style: none;
	background: #FF9;
}
.sidebar2 .rvk ul {
	list-style: none;
	background: #FF9;
}
.BlockContent-body label {
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #039;
	font-weight: normal;
}
#content {
	width: 540px;
	margin-top: 20px;
	margin-left: 175px;
	clear: both;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 150%;
}
#sidebar {
	display: none;
}
#content .entry-title {
	font: normal 28px "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	color: #039;
}

#searchform .Button {
	display: none;
}

.nocomments {
	display: none;
}

.PostHeaderIcons img, .PostFooterIcons img{
	display: none;
}
.BlockContent-body .when {
	font-size: 11px;
	color: #039;
}

.sidebar2 {
	padding: 0px;
	z-index: 1200;
	margin-top: 20px;
	margin-left: 0px;
}
.sidebar2 .textwidget {
	font: 11px/14px "Open Sans", Arial, Helvetica, sans-serif;
	color: #666;
	background: #FF9;
}

.sidebar2 .bijbeltekst {
	font: 11px/14px "Open Sans", Arial, Helvetica, sans-serif;
	color: #00F;
	width: 234px;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px 10px 8px;
}

.sidebar2 .meg {
	margin-left: 9px;
	background: #FF9;
	width: 254px;
	margin-top: -8px;
	margin-bottom: 10px;
}

.sidebar2 .bijbeltekst a:link, .bijbeltekst a:visited {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #00F;
	text-decoration: none;
}

.sidebar2 .bijbeltekst a:hover {
	color: #900;
	text-decoration: underline;
}

.bijbeltekst .perknaam {
	width: 254px;
	background: #FEEc01;
	display: none;
	text-align: center;
	height: 15px;
	padding-top: 3px;
	font-weight: bold;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	color: #03C;
	margin-left: -10px;
	overflow: hidden;
}
.bijbeltekst .perknaam2 {
	width: 264px;
	mbackground: url(images/BlockHeader_02.png) repeat-x left bottom;
	display: block;
	mtext-align: center;
	height: 30px;
	padding-top: 3px;
	font-weight: normal;
	font-size: 18px;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	color: #03C;
	margin-left: -11px;
	overflow: hidden;
	line-height: 30px;
	text-indent: 12px;
	background: #FFec01;
}
#splashachtergrond {
	z-index: 1500;
	left: 50%;
	top: 50%;
	height: auto;
	width: 800px;
	margin-top: -300px;
	margin-left: -400px;
	position: absolute;
	background: url(images/Splash_Achtergrond.png) repeat;
}
.splashcontent {
	height: auto;
	width: 600px;
	margin-top: 20px;
	margin-left: 100px;
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: 5000;
	margin-bottom: 50px;
}
MEG#splashklik {
	z-index: 2000;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 1050px;
	width: 1680px;
	margin-top: -525px;
	margin-left: -840px;
	overflow: hidden;
}

.SplashKoptekst {
	font: normal 40px "Yanone Kaffeesatz", Helvetica, sans-serif;
	color: #00F;
	text-decoration: none;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	top: 0px;
	position: relative;
	width: 300px;
}
.listing-item .excerpt {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 140%;	
}
.listing-item {
	text-align: left;	
}

.listing-item .title:link, .listing-item .title:visited {
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #009;
	text-decoration: none;
	text-align: left;
	display: block;
	MEGmargin-bottom: 3px;
	MEGmargin-top: 10px;
}
.listing-item .title:hover {
	color: #900;
	text-decoration: underline;
}
#form-wysija-2 {
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 5px;
	border: 1px solid #CCC;
	width: 235px;
}
#form-wysija-2 p {
	padding-top: 5px;
}

#form-wysija-2 input[type="text"] {
	width: 225px;
	margin-top: -10px;
}

ul.upcoming, .dig-in {
	background: #FF9;
}

.DatumDelft {
	font: 22px "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	color: #009;
	mposition: relative;
	margin-top: 195px;
	margin-left: 43px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.DatumSplash {
	font: 22px "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	color: #00F;
	mposition: relative;
	mleft: 0px;
	mtop: 0px;
	margin-top: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 5px;
}
#homevandaag, #homegisteren, #homeoudereberichten, #homearchief {
	margin-top: 30px;
	margin-left: 42px;
	height: auto;
}

#homevandaag .display-posts-listing li,
#homegisteren .display-posts-listing li {
	height: 95px;
	width: 560px;
	margin-top: 10px;
	border-bottom: 1px solid #999;
	padding-right: 0px;
	padding-left: 5px;
}
#homeoudereberichten li {
	margin-top: 4px;
}

#homevandaag .display-posts-listing .image,
#homegisteren .display-posts-listing .image {
	position: absolute;
	left: 42px;
}
#homevandaag .display-posts-listing .excerpt,
#homegisteren .display-posts-listing .excerpt {
	display: block;
	width: 430px;
	position: relative;
	height: auto;
	margin-left: 110px;
	top: 0px;
	left: 0px;
}
#homevandaag .display-posts-listing .title,
#homegisteren .display-posts-listing .title  {
	margin-left: 110px;
	mfloat: left;
	margin-right: 10px;
}
#homevandaag .display-posts-listing .date, 
#homegisteren .display-posts-listing .date {
	font: normal 12px/normal Arial, Helvetica, sans-serif;
	color: #039;
	margin-right: 10px;
	margin-top: 3px;
	clear: right;
	float: left;
	display: none;
}

#homeoudereberichten .display-posts-listing .date {
	font: normal 12px/normal Arial, Helvetica, sans-serif;
	color: #039;
	margin-right: 10px;
	margin-top: 3px;
}

#homeoudereberichten .display-posts-listing .image,
#homeoudereberichten .display-posts-listing .excerpt,
#homeoudereberichten .display-posts-listing .excerpt-dash,
#homegisteren .display-posts-listing .excerpt-dash,
#homevandaag .display-posts-listing .excerpt-dash  {
	display: none;
}
#homeoudereberichten .display-posts-listing .title {
	float: left;
	margin-right: 5px;
}
.twitter {
	width: 700px;
	margin-left: 100px;
}
.sidebar2 .BlockContent-body {
	background: #FF9;
}
.sidebar2 .BlockHeader {
	background: #ffec01;
}
.sidebar2 label {
	display: none;
}
.PostContent table td {
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
	background: #FF9;
	font: normal 12px "Open Sans", Verdana, Geneva, sans-serif;
	color: #000;
}

#rvkn ul{
	margin-left: 10px;
}
#rvkn {
	margin-top: -3px;
}
.sidebar2 .dig-in, 
.sidebar2 .dig-in a:link,
.sidebar2 .dig-in a:visited {
	color: #FFF;
	background: #F00;
	text-indent: 10px;
}
.sidebar2 .dig-in:hover,
.sidebar2 .dig-in a:hover {
	background: #C00;
	text-decoration: none;
}
.sidebar2 .nood a:link,
.sidebar2 .nood a:visited {
	background: url(images/NonFoodbank_01.jpg) left;
	height: 35px;
	width: 255px;
	font: bold 20px/35px "Yanone Kaffeesatz", Verdana, Geneva, sans-serif;
	color: #FFF;
	text-indent: 20px;
	display: block;
	margin-top: 1px;
}
.sidebar2 .nood a:hover {
	background: url(images/NonFoodbank_02.jpg);
	color: #FFF;
	text-decoration: none;
}

#big:link, #big:visited, #big:hover {
	background: #FFC;
} 


